---
- include_role:
    name: openio-service
  vars:
    openio_service_type: "oio-exporter"
    openio_service_namespace: "{{ openio_oio_exporter_namespace }}"
    openio_service_maintenance_mode: "{{ openio_oio_exporter_maintenance_mode }}"
    openio_service_packages:
      - oio-exporter
    openio_service_configuration_files:
      - name: log_patterns.yml
        block_start_string: 'ยง%'
        block_end_string: '%ยง'
        variable_start_string: 'ยง!!'
        variable_end_string: '!!ยง'
      - name: healthchecks.yml
      - name: versions.yml
    openio_service_services:
      - command: >-
          /usr/sbin/oio-exporter
          -log.id "OIO,{{ openio_service_namespace}},oio-exporter,{{ openio_service_id }}"
          -bind {{ openio_oio_exporter_bind_address }}:{{ openio_oio_exporter_bind_port }}
          -inventory /etc/oio/sds/{{ openio_service_namespace }}/inventory.yml
          -pattern-path {{ openio_service_conf_dir }}/log_patterns.yml
          -healthcheck-path {{ openio_service_conf_dir }}/healthchecks.yml
          -version-path {{openio_service_conf_dir }}/versions.yml
          -targets {{ openio_oio_exporter_targets | join(',') }}
          {% if openio_oio_exporter_daemons | length > 0 -%}
          -daemons {{ openio_oio_exporter_daemons | join(',') }}
          {% endif -%}
          {% set nodaemons = openio_oio_exporter_nodaemons -%}
          {% if openio_oio_exporter_disable_s3rt | bool -%}
          {%   set nodaemons = nodaemons + ['s3rt'] -%}
          {% endif -%}
          {% if nodaemons | length > 0 -%}
          -nodaemons {{ nodaemons | join(',') }}
          {% endif -%}
        env:
          HOME: /home/openio
    openio_service_checks:
      - uri:
          url: "http://{{ openio_oio_exporter_bind_address }}:{{ openio_oio_exporter_bind_port }}/"
          status_code: 404
        retries: 10
        delay: 2
...
