---
versions:
  - name: openio
    type: package
    rpm: openio-sds-server
    deb: openio-sds

  - name: swift
    type: package
    package: openio-sds-swift

  - name: s3
    type: package
    rpm: openio-sds-swift-plugin-swift3
    deb: openio-sds-swift-plugin-s3

  - name: zookeeper
    type: package
    package: zookeeper

  - name: zookeeper_lib
    type: package 
    rpm: libzookeeper2
    deb: libzookeeper-java

{% if false %}
  - name: oiofs
    type: package
    package: oiofs-fuse
{% endif %}
  - name: redis
    type: command
    command: "redis-server --version"
    extract: " v=([\\d\\.]+) "

  - name: beanstalkd
    type: command
    command: "beanstalkd -v"
    extract: " (\\d+[\\d\\.]*)$"

  - name: keystone
    type: command
    command: "keystone-manage --version"

  - name: netdata
    type: package
    package: oio-netdata

  - name: oio-exporter
    type: package
    package: oio-exporter

  - name: prometheus
    type: package
    package: oio-prometheus

  - name: alertmanager
    type: package
    package: oio-alertmanager

  - name: grafana
    type: package
    package: oio-grafana

  - name: elasticsearch
    type: package
    package: oio-elasticsearch

  - name: kibana
    type: package
    package: oio-kibana

  - name: filebeat
    type: package
    package: oio-filebeat

  - name: loki
    type: package
    package: oio-loki

  - name: promtail
    type: package
    package: oio-promtail
...
