---
versions:
  - name: openio
    type: package
    rpm: openio-sds-server
    deb: openio-sds

  - name: "eventlet (python 2)"
    type: package
    rpm: python2-eventlet
    deb: python-eventlet

  - name: "eventlet (python 3)"
    type: package
    package: python3-eventlet

  - name: swift
    type: package
    package: openio-sds-swift
    service: oioswift

  - name: s3
    type: package
    rpm: openio-sds-swift-plugin-swift3
    deb: openio-sds-swift-plugin-s3
    service: oioswift

  - name: swift-extended
    type: package
    package: openio-sds-swift-extended
    service: oioswift

  - name: zookeeper
    type: package
    package: zookeeper
    service: zookeeper

  - name: zookeeper_lib
    type: package
    rpm: libzookeeper2
    deb: libzookeeper-java
    service: zookeeper

  - name: galera
    type: package
    rpm: galera
    deb: galera-3
    service: galera

  - name: mariadb
    type: package
    package: mariadb-server
    service: galera

  - name: oiofs
    type: package
    package: oiofs-fuse
    service: oiofs

  - name: redis
    type: command
    command: "redis-server --version"
    extract: " v=([\\d\\.]+) "
    service: redis

  - name: beanstalkd
    type: command
    command: "beanstalkd -v"
    extract: " (\\d+[\\d\\.]*)$"
    service: beanstalkd

  - name: keystone
    type: command
    command: "keystone-manage --version"
    service: keystone

  - name: netdata
    type: package
    package: oio-netdata
    service: netdata

  - name: oio-exporter
    type: package
    package: oio-exporter
    service: oio-exporter

  - name: prometheus
    type: package
    package: oio-prometheus
    service: prometheus

  - name: alertmanager
    type: package
    package: oio-alertmanager
    service: alertmanager

  - name: grafana
    type: package
    package: oio-grafana
    service: grafana

  - name: elasticsearch
    type: package
    package: oio-elasticsearch
    service: elasticsearch

  - name: kibana
    type: package
    package: oio-kibana
    service: kibana

  - name: filebeat
    type: package
    package: oio-filebeat
    service: filebeat

  - name: loki
    type: package
    package: oio-loki
    service: loki

  - name: promtail
    type: package
    package: oio-promtail
    service: promtail
...
